body {
  padding-top: 50px;
}
.body-container {
  padding: 40px 15px;
  text-align: center;
}

#tweetQueue{
	display:none;
}

#displayQueue{
	display:none;
}

#displayedTweets{
	display:none;
}

.tweetMessage {
	font-weight: bold;
}

.tweetMessage.displayed {
	color: green;
}

.btn-primary{
	margin-right: 10px;
}